body{
    background-color: #f5f8ff;
}
.open-sans-{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}

.open-sans-2{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.navbar{
    width: 1440px;
    height: 698px;
    background-image: url("Assets/Hero-bg.png");
    text-align: center;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}
.nav-heading{
    font-size: 34px;
    color: #4E47FF;
    font-weight:bolder;
}
.nav-button{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
}
.banner-heading{
    font-size: 65px;
    font-weight: bold;
    color: #252432 ;
    margin-bottom: 0;
}
.banner-button{
    width: 174px;
    height: 48px;
    font-size: 16px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
}
.banner{
    margin-top: 180px;
}
.action{
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 118px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0;
}
.action-subtitle{
    font-size: 24px;
    color:#2524326c;
    margin-bottom: 0;
}
.action-button{
    width: 228px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    margin: 0;
}
.action-image{
    border-radius: 45px;
}
.heading{
    margin-bottom: 50px;
}
.productive-users{
    background-color: #4d47ff1c;
    margin: 0 auto;
    text-align: center;
    width: 1140px;
    height: 306px;
    border-radius:30px;
    padding-top: 20px;
    margin-top: 118px;
}
.user-heading{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    
}
.heading{
    font-size: 80px;
    font-weight: bold;
    color:  #4E47FF;
    margin-bottom: 0;
}
.para{
    font-size: 20px;
    color:#2524326c;
    margin-top: 0;
}
.user-subtitle{
    width: 856px;
    height: 121px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.get-in-touch{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color:#ffffff67 ;
    margin-bottom: 118px;
}
label,textarea{
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
#info{
    width: 497px;
    height: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.touch-heading{
    font-size: 90px;
    font-weight: bold;
}
input{
    width: 497px;
    height: 70px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    /* border:none; */
}
.user-button{
    width: 520px;
    height: 62px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
}
input{
    margin-bottom: 15px;
    border: 1px solid #e5e7eb;
}
.get-in-touch{
    margin-top: 118px;
}
footer{
    width: 1440px;
    height: 428px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 70px;
}
h1{
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 0;
}
h3{
    font-size: 16;
    font-weight: 400;
    color: #8987A1;
}
a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16;
    margin-right: 40px;
    margin-left: 15px;
}
button:hover{
    background-color: #070707;
}
.feedback{
    margin: 0 auto;
    margin-top: 118px;
}
.feedback-heading {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}
.user-feedback{
   width: 320px;
   height: 200px; 
   border: 0.5px solid #e5e7eb;
   padding: 20px;
   background-color: #ffffff97;
   border-radius: 15px;
   border: none;
   box-shadow: 0px 0px 0px 0.5px rgb(233, 229, 229);

}
.reviewers{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feedback-img{
    width: 116px;
    height: 20px;
}
.reviewers-img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.reviewers-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 0;
}
.date{
    font-size: 16px;
    margin-top: 6px;
    font-weight: 200;
    color: #B3B3B3;
}
.reviewers-subtitle{
    font-size: 16px;
    margin-top: 0;
}
.reviewers-title{
    margin-bottom: 5px;
    font-size: 24px;
}
.container{
    display: flex;
    justify-content: center;
    gap:20px;
}